body, html {
    position: relative;
	height: 100%; 
	width : 100%;  
	margin: 0;
    background-color: #ffffff;
    font-family: Monospace;
    cursor: grab;
}

a:link {
    text-decoration: none;
    color: greenyellow
  }


h2 {
    background-color: #d9e3da;
    color: #000000;
  }

h3 {
    background-color: #f3dcd4;
    color: #ffffff;
}
h3:hover {
    transform: translateY(6deg);
}

a:active {
    background-color: grey;
  }

.button {
    background-color: #ecc9c7;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 100%;
    text-align: right;
    display: inline-block;
    font-size: 60px;
    font-family: Sanchez;
    margin: 4px 2px;
    cursor: crosshair;
    transition-duration: 0.5s;

}
  
.button:hover {
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: crosshair;
}

.button:active {
    background-color: #000000;
    transform: translateY(20px);
    outline: none;
}

button:focus {
    border: none;
    outline-style: dashed;
}

.disabled {
    opacity: 1;
    cursor: grabbing;
  }
  
.button1 {background-color: #d9e3da;}
.button2 {background-color: #c2c2b4;}
.button2:hover {
    background-color: #000000
}

a {
    letter-spacing: 1px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; 
    cursor: crosshair
  }
  #a:hover {
    letter-spacing: 1em; 
  }

  a:visited {
    color: greenyellow;
  }

/* -----------------CSS ANIMATION --------------------*/
img:hover {
    opacity: 0.1;
}
    #slideinKF {
    animation-duration: 3s;
    animation-name: slidein; 
    animation-iteration-count: infinite;
    }

@keyframes slidein {
    0%, 100% {
      margin-left: 0%;
      opacity: 1;
    }
    50% {
      margin-right: 300px;
      opacity: 0.5;
    }
  }

/*---------------button animation----------------------
color animation not working*/
button {
    -webkit-transition:  #d9e3da 5s, 10px 5s;
       -moz-transition:  #d9e3da 5s, 10px 5s;
         -o-transition:  #d9e3da 5s, 10px 5s;
            transition:  #d9e3da 5s, 10px 5s;
}

button:hover {
    font-size: 200px;
    color: #ffffff;
    animation: animate 20s linear infinite;
    transform: rotate(10deg);
}